<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pan Tadeusz</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <div class="container p-3 mb-2 bg-info text-dark fs-2 bg-opacity-75 rounded-4 fw-bold">
                <p class="text-center mb-0">"Sir Thaddeus, or the Last Foray in Lithuania: A Nobility's Tale of the Years 1811–1812, in Twelve Books of Verse"</p>
            </div>
        </header>
        <main>
            <div class="container mt-2">
                <div class="row col-auto">
                    <aside class="col-sm-8 col-md-6 col-lg-2 p-3 mb-1 bg-info text-dark bg-opacity-25 rounded-4 fs-5">
                        <p class="fw-bold">Books:</p>
                        <ul class="mb-0">
                            <li><a href="./">Main page</a></li>
                            {% for book in range(1,13)%}
                                <li><a href="./k{{book}}">Book {{book}}</a></li>
                            {% endfor %}
                        </ul>
                    </aside>

                    

                    <section class="col">
                        {% block content %}
                            <p>Layout page content. </p>
                        {% endblock %}
                    </section>
                </div>
            </div>
        </main>

        <footer>
            <div class="container py-3 mt-auto bg-info text-dark bg-opacity-25 rounded-4">
                <p class="mb-0">@Yevheniia Nosova</p>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>